{{- define "main" }}

{{- if .Content }}
<div class="post-content">
  {{- .Content }}
</div>
{{- end }}

{{- $pages := union .RegularPages .Sections }}
{{- if .IsHome }}
{{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- $pages = where $pages "Params.hidden" "ne" true }}
{{- end }}

{{- $paginator := .Paginate $pages }}

<div class="capsule-post-list">
  {{- range $paginator.Pages }}
  <article class="post-entry security-capsule">
    
   <header class="entry-header">
      <h2>
        <span class="hack-icon">
          {{- if .Params.categories }}
            {{- if or (in .Params.categories "Writeups") (in .Params.categories "writeups") }}⛓️‍💥
            {{- else if or (in .Params.categories "Notes") (in .Params.categories "notes") }}📝
            {{- else }}📄
            {{- end }}
          {{- else }}
            📄 {{- end }}
        </span>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h2>
    </header>
    
    {{- if .Params.tags }}
    <div class="post-tags-inline">
      {{- range .Params.tags }}
      <a href="{{ "tags/" | relLangURL }}{{ . | urlize }}/" class="tag-pill">{{ . }}</a>
      {{- end }}
    </div>
    {{- end }}
    
  </article>
  {{- if .Params.tags }}
    <div class="post-tags-inline">
      {{- range .Params.tags }}
      <a href="{{ "tags/" | relLangURL }}{{ . | urlize }}/" class="tag-pill">{{ . }}</a>
      {{- end }}
    </div>
    {{- end }}
    
  </article>
  {{- else }}
  <article class="post-entry security-capsule" style="text-align: center; padding: 40px 20px !important;">
    <header class="entry-header" style="justify-content: center;">
      <h2 style="justify-content: center; font-size: 24px !important;">
        <span class="hack-icon">📁</span>
        Здесь пока что пусто...
      </h2>
    </header>
    <p style="margin-top: 14px; color: var(--secondary); font-size: 14px; text-align: center !important;">
      Когда-то здесь появятся заметки.
    </p>
  </article>
  {{- end }}
</div>
</div>

{{- if gt $paginator.TotalPages 1 }}
<footer class="page-footer">
  <nav class="pagination">
    {{- if $paginator.HasPrev }}
    <a class="prev" href="{{ $paginator.Prev.URL }}">« Назад</a>
    {{- end }}
    {{- if $paginator.HasNext }}
    <a class="next" href="{{ $paginator.Next.URL }}">Вперед »</a>
    {{- end }}
  </nav>
</footer>
{{- end }}

{{- end }}